#wrap{
    border:solid;
    background-color: black;
    border-color: #b33e60;
    font: #ffff;

}
.box{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid;
    border-color: #fcc72a;
    border-radius: 10%;
    background-color: white;
    grid-template-columns: 1fr;
}
.footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, #ffffff;
}